.error-msg {
    display: none;
    color: red;
    margin-bottom: 0;
}

.footer {
    color: rgb(122, 212, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.footer-left {
    flex-basis: 30%;
    text-align: center;
}

.footer-center {
    flex-basis: 40%;
    text-align: center;
}

.footer-right {
    flex-basis: 30%;
    text-align: center;
}

.card-title {
    display: flex;
    justify-content: center;
}
.category-content {
    margin: 5% 5%;
    color: brown
}

.category-text, .card-title {
    color: brown;
    margin-left: 7%;
    margin-bottom: 2%;
}

#carouselExampleIndicators {
    padding-top: 2cm;
    padding-bottom: 2cm;
}

#carousel-card-shadow {
    box-shadow: 2px 2px 5px 2px;
}
main {
    padding: 25px 40px 10px 40px;
}

main.all-articles {
    padding: 25px 40px 10px 40px;
    margin-left: 20px;
    margin-right: 20px;
}

#article1 {
    box-shadow: 1px 1px 5px -1px;
}

#article2 {
    box-shadow: 1px 1px 5px -1px;
}

#h4-home {
    margin-top: 15px;
    margin-left: 0px;
}

#articles-home.row {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

a.articles-home {
    color: #18775a;
    text-decoration: none;
}

a.articles-home:hover {
    color: #4886ce;
    text-decoration: underline;
}

img.card-img {
    padding: 15px;
    width: 100%;
}

img.article-page-img {
    width: 100%;
    padding: 10px;
    box-shadow: 1px 1px 5px -1px;
}

#subscribe {
    color: #18775a;
}

#index-p {
    padding-top: 10px;
    padding-bottom: 10px;
}